<ul>
    {% for user in users %}
    <li class="contact liUser" data-id="{{user.crypt_id}}">
        <div class="wrap">
            <span class="contact-status {% if user.is_connected %}online{% else %}offline{% endif %}"></span>
            <img src="{{user.image_profile}}" alt="" />
            <div class="meta">
                <p class="name">{{user.name}}</p>
                <p class="preview">
                    {% if user.last_message %}
                        {% if user.whosent != user.id %}
                            <i class="fa fa-check" style="font-size: 10px;color: #000;"></i>
                        {% endif %}
                        {{user.last_message}}
                    {% else %}
                    .
                    {% endif %}
                </p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>